<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CategoriaServlet</servlet-name>
        <servlet-class>cr.ac.una.prograiv.video.controller.CategoriaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoriaServlet</servlet-name>
        <url-pattern>/CategoriaServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DetalleServlet</servlet-name>
        <servlet-class>cr.ac.una.prograiv.video.controller.DetalleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetalleServlet</servlet-name>
        <url-pattern>/DetalleServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ImagenServlet</servlet-name>
        <servlet-class>cr.ac.una.prograiv.video.controller.ImagenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImagenServlet</servlet-name>
        <url-pattern>/ImagenServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PedidoServlet</servlet-name>
        <servlet-class>cr.ac.una.prograiv.video.controller.PedidoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PedidoServlet</servlet-name>
        <url-pattern>/PedidoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PeliculasServlet</servlet-name>
        <servlet-class>cr.ac.una.prograiv.video.controller.PeliculasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PeliculasServlet</servlet-name>
        <url-pattern>/PeliculasServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>cr.ac.una.prograiv.video.controller.UsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>cr.ac.una.prograiv.video.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
